@model Book

<input asp-for="@Model.Id" hidden/>
<h1>@Model.Name</h1>
<h1>@Model.Author</h1>
<h1>@Model.Price</h1>
<h1>@Model.Description</h1>
<h1>@Model.Category.Name</h1>
<img src="@Model.Image" />

@*<table>
    <tbody>
        @foreach (var obj in Model)
        {
            <tr>
                <td>
                    @obj.Name
                    @obj.Author
                    @obj.Image
                    @obj.Price
                    @obj.Description
                    @obj.Category
                </td>
                <td>
                    <div role="group">
                        <a asp-controller="Book" asp-action="Edit" asp-route-id="@obj.Id">Edit</a>
                        <a asp-controller="Book" asp-action="Delete" asp-route-id="@obj.Id">Delete</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>*@




