@model IEnumerable<Book>

<div>
    @foreach(var book in Model)
    {
        <div>
            <img src="@book.Image" />
        </div>
        <div>
            <h1>@book.Name</h1>
        </div>
        <div>
            <h1>@book.Category.Name</h1>
        </div>
        <div>
            <p>@book.Author</p>
        </div>
        <div>
            <h2>@book.Price</h2>
        </div>
        <div>
            <a asp-action="Details" asp-route-bookId="@book.Id">Details</a>
        </div>
    }
</div>
