@model IEnumerable<Book>

<div>
    @foreach(var book in Model)
    {
        <div>
            <img src="@book.Image" />
        </div>
        <div>
            <h1>Name: @book.Name</h1>
        </div>
        <div>
            <h1>Category: @book.Category.Name</h1>
        </div>
        <div>
            <p>Author: @book.Author</p>
        </div>
        <div>
            <h2>Price: @book.Price.ToString("c")</h2>
        </div>
        <div>
            <a asp-action="Details" asp-route-bookId="@book.Id">Details</a>
        </div>
    }
</div>
