@model IEnumerable<ApplicationUser>
<a asp-action="Index">All</a>
<a asp-action="AdminAccount">Admin</a>
<a asp-action="StoreAccount">Store</a>
<a asp-action="CustomerAccount">Customer</a>
@foreach (var item in Model)
{
    <h3>@item.Email</h3>
    <h3>@item.FullName</h3>
    <h3>@item.PhoneNumber</h3>
    <h3>@item.City</h3>
    <h3>@item.Address</h3>
    <a asp-action="ChangePassword" asp-route-accountId="@item.Id">Change password</a>
}
