@model App_Dev.ViewModels.ShoppingCartVM
<form method="post">
    @foreach(var item in Model.ListCart){
        <h1>Name: @item.Book.Name</h1>
        <h1>Author: @item.Book.Author</h1>
        <h1>Description: @item.Book.Description</h1>
        <h1>Price: @item.Book.Price.ToString("c")</h1>
        <h1>Count: @item.Count</h1>
        <a asp-action="Plus" asp-route-cartID="@item.Id">Plus</a>
        <a asp-action="Minus" asp-route-cartID="@item.Id">Minus</a>
        <a asp-action="Remove" asp-route-cartID="@item.Id">Remove</a>
    }
    <h1>Total: @Model.Order.TotalPrice.ToString("c")</h1>
    <a asp-action="Index" asp-controller="Home">Continue Shopping</a>
    <a asp-action="Summary">Purchase</a>
</form>